@import './variables';

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}


nav li:last-child a{
    background: $primary;

    &:hover{
        background-color: $primary-hover;
    }
}

nav li a:hover{

    transition: all 0.4s ease-in-out;
    color: $primary !important;
}

.size{
    background: $secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: all 0.4s ease-in-out;

    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}

section.hero{
    background: $secondary;
}

section h6{
    left: 300px;
}

.btn-primary{
    background: $primary;
    transition: all 0.4s ease-in-out;

    &:hover{
        background: $primary-hover;
    }
}


section.cart{
    background: $secondary;

    .amount{
        color: $primary;
    }
}

section.login{
    background: $secondary;
    min-height: calc(100vh - 86px);

    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}
